@keyframes cube-launch
	from

body
	margin: 0
	font-family: "Helvetica Neue", "Roboto", "Segoe UI", sans-serif

#container
	>div
		top: 50%
		left: 50%
		transform: translate3d(-50%, -50%, 0)
	&:hover
		.cube-face
			opacity: 1
			color: black
			background-color: white
	.cube-face
		transition: .5s
		opacity: .5
		color: transparent
		background-color: white
		border: 2px dotted black
		user-select: none
		-webkit-user-select: none
		-moz-user-select: none
		cursor: default

		section.page
			transform: scale(0.001)
			position: absolute
			top: 0
			right: 0
			bottom: 0
			left: 0

		h2
			font-size: 80px
			line-height: 500px
			text-align: center
			margin: 0
			height: 100%
			color: #00ADFF