html
	head
		title Fathy Boundjadj
		meta(
			name="viewport"
			content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi"
		)
		script(src='lib/three.min.js')
		script(src='lib/TrackballControls.js')
		link(rel='stylesheet', type='text/css', href='css/index.css')
	body
		#container
		#main-cube
			.cube-face
				h2 cv
			.cube-face
				h2 home
			.cube-face
				h2 dev
			.cube-face
				h2 contact
			.cube-face
				h2 about
			.cube-face
				h2 fork
		script(src='index.min.js')